<div class="col-lg-offset-1">
    <form class="form-horizontal">
        <fieldset ng-model="modalBody">
            <legend>Edit Zone</legend>

            <div class="form-group">
                <label for="Latitude" class="col-lg-3 control-label">Zone #</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" ng-model="modalBody.zone" id="Latitude" placeholder="Address">
                </div>
            </div>

            <div class="form-group">
                <label for="Longitude" class="col-lg-3 control-label">Zone Name</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" ng-model="modalBody.zone_Name" id="Longitude" placeholder="Zone Name">
                </div>
            </div>

            <div class="form-group">
                <label for="zone_Active" class="col-lg-3 control-label">Status</label>
                <div class="col-lg-5">
                    <select class="form-control" id="exampleSelect1">
                        <option>Active</option>
                        <option>Inactive</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="Longitude" class="col-lg-3 control-label">Zone KML</label>
                <div class="col-lg-5">

                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" ng-click="ok()" class="btn btn-primary">Submit</button>
                    <button ng-click="cancelModal()" class="btn btn-warning">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
