<style>
    ng-map
    {
       height:800px;
        width:100%;
        position:center;
    }
    .glyphBtton {
        position: absolute;
        right:0;
       
    }
    ul {
        list-style: none;
    }

    li {
        /*display: inline-block;*/
        margin-right: 15px;
    }

    /*input {
        visibility: hidden;
    }*/

    /*label {
        cursor: pointer;
    }*/

    .btn-group input[type="radio"]:checked + label {
        background: red !important;
    }
    /*.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0 !important;
    }*/

    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    /*.badge {
        font-size: 15px;
        background-color: #efa15f;
        cursor:pointer;
    }*/
    .active {
        font-size: 15px;
        background-color: #a5a3a3;
    }
    /*.badgeGrp {
        margin-left: 3%;
        padding-bottom:25px;
    }*/
    .gm-style-iw {
        max-width: 300px;
    } .iw-title {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 12px;
        font-weight: 400;
        padding: 10px;
        background-color: #48b5e9;
        color: white;
        margin: 1px;
        border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
        text-wrap: normal;
    }
    .iw-content {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 10px;
        font-weight: 200;
        padding: 10px; 
        color: black;
        margin: 1px;
        border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
        text-wrap: normal;
    }.iw-image {
        height: 200px;
        width: 80%;
    }
    .iw_label {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 10px;
    }
    .glyphBtton {
        position: absolute;
        right: 0;
    }
</style>

<div ng-controller="MapController"> 

            <!--<label ng-repeat="item in config"
                   class="btn btn-primary classButton"
                   ng-class="config[$index].btnClass" ng-model="mode" value="{{item.name}}" ng-click="setActive($index)">
                {{item.label}}
            </label>
        </div>--> 

        <div class="map">
            <ng-map ng-init="getMap()"  ng-dblclick="openModal('','Zone')" center="41.5027736,-81.6700112"  zoom="10" disable-double-click-zoom="true" ng-click="mapClick()"  >
                <kml-layer id="{{k.zone}}" ng-repeat="k in ZonesAll| filter:filterMakes()" url="{{k.zone_Kml}}" on-click="selectZones(k,k.zone)" title="{{k.zone_Nme}}"  preserveViewport="true "></kml-layer>
                <marker ng-repeat="p in dynMarkers | filter:filterMakes()" position="[{{p.lat}},{{p.lng}}]" icon="{{p.icon}}"     optimized="true" on-click="showDetail(p)"> </marker>
                <!--<info-window id="foo-iw" position="[{{p.lat}},{{p.lng}}]" animation="Animation.DROP" center="41.5027736,-81.6700112" zoom="13">

                    <div >                        
                        
                      
                    </div>
                </info-window>-->
            </ng-map>

        </div>
    </div>